server/node_modules/
client/tmk_client/node_modules/

server/.env
server/start.js
server/config/config.json
client/tmk_client/.env

client/tmk_client/build
client/tmk_client/public/assets
server/public/files/
server/temp/
server/package-lock.json
client/tmk_client/package-lock.json
healthyChildService/
serverCopy/
server/config/config.json
patient_client/.next
patient_client/node_modules
patient_client/tmk_client
patient_client/.env


secret_key.txt