server/node_modules/
client/tmk_client/node_modules/

server/.env
client/tmk_client/.env

client/tmk_client/public/assets

server/package-lock.json
client/tmk_client/package-lock.json
healthyChildService/